*.obj
*.exe
!/.nuget/NuGet.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dtbcache
.zip
[Bb]in
[Dd]ebug/
*.lib
.sbr
obj/
[Rr]elease/
[Tt]est[Rr]esult*
UpgradeLog*.XML
[Pp]ublish/
UpgradeLog.htm
UpgradeLog.html
packages/
.vs/*
db_data_*.json
StyleCop.Cache